# Python
__pycache__/
*.py[cod]
*$py.class
# Node modules
node_modules/

# Virtual Environment
venv/
env/
.env
.venv

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Logs
*.log
